In [4]:
import pandas as pd

nba=pd.read_csv('nba.csv')
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5000000.0

In [5]:
nba.sort_values(["Name", "Age"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,6-0,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,6-9,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-6,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,6-10,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,6-10,245,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
386,Wilson Chandler,Denver Nuggets,21,SF,29,6-8,225,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14,PG,24,6-3,180,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,6-5,189,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50,PF,34,6-9,260,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27,C,32,6-11,275,NaN,5200000.0

In [6]:
nba.sort_values(["Name", "Age"], ascending=[True, False])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,6-0,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,6-9,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-6,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,6-10,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,6-10,245,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
386,Wilson Chandler,Denver Nuggets,21,SF,29,6-8,225,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14,PG,24,6-3,180,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,6-5,189,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50,PF,34,6-9,260,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27,C,32,6-11,275,NaN,5200000.0